<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>
        <ul>
            {% for order in orders %}
            <li>{{ order.customer_name }}, {{ order.order_date }}, {{ order.item }}, {{ order.description }}, {{ order.quantity }}</li>
            {% endfor %}
        </ul>
    </body>
</html>


 